@using CSC.CSClassroom.Model.Questions.ServiceResults
@model CSC.CSClassroom.Model.Questions.ServiceResults.QuestionToSolve
@{
    var question = Model.Question as MultipleChoiceQuestion;
}

<input type="hidden" name="QuestionSubmissionType" value="MultipleChoiceQuestionSubmission" />
<table class="table" style="width: auto">
    <tbody>
        @foreach (var choice in question.Choices)
        {
            <tr>
                <td>
                    <input type="@(question.AllowMultipleCorrectAnswers ? "checkbox" : "radio")" name="SelectedChoices" value="@choice.Value" />
                    @(char.ConvertFromUtf32('A' + question.Choices.IndexOf(choice)).ToString()))
                </td>
                <td>
                    <pre>@choice.Value</pre>
                </td>
            </tr>
        }
    </tbody>
</table>
<span id="result" style="display: none"></span>
<script type="text/javascript">
    function displayResult(response)
    {
        var result = $('#result');
        result.css('display', 'inherit');
        result.css('font-weight', 'bold');
        if (response.result.correct)
        {
            result.text('Correct!');
            result.css('color', 'green');
        }
        else
        {
            result.text('Incorrect.');
            result.css('color', 'red');
        }
    }
</script>