@model MarkdownViewerSettings
@inject IJsonHelper Json;

<div id="wmd-viewer-@Model.ViewerName" class="wmd-preview">@Model.InitialContents</div>

<script type="text/javascript">
    createMarkdownViewer("@Model.ViewerName", @Json.Serialize(Model.InitialContents));
</script>