@using CSC.Common.Infrastructure.Logging
@inject IOperationIdProvider OperationIdProvider
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>
<h4>Operation ID: @OperationIdProvider.OperationId</h4>

<span>When reporting this error, please include the operation ID.</span>

