{
  "ProjectRunner": {
    "GitHubOAuthToken": "REPLACE-WITH-GITHUB-OAUTH-TOKEN",
    "ProjectJobResultHost": "http://dockerhost:10000"
  },
  "ConnectionStrings": {
    "PostgresDefaultConnection": "User ID=postgres;Password=postgres;Host=dockerhost;Port=5432;Database=csclassroom;Pooling=true;"
  },
  "ApplicationInsights": {
    "InstrumentationKey": "REPLACE-WITH-APPLICATION-INSIGHTS-KEY"
  }
}