domain: "REPLACE"
aad_client_id: "REPLACE"
activation_token: "REPLACE"
github_oauth_token: "REPLACE"
github_webhook_secret: "REPLACE"
postmark_apikey: "REPLACE"
postmark_transaction_message_stream: "REPLACE"
postmark_broadcast_message_stream: "REPLACE"
postgres_password: "REPLACE"
appinsights_instrumentation_key: "REPLACE"
webapp_memory_limit: "REPLACE" # example: "1500m"
buildservice_memory_limit: "REPLACE" # example: "750m"
