@using CSC.CSClassroom.Model.Users
@model CSC.CSClassroom.Model.Users.StudentRegistration

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
<br />
<span>This class is not open for registration at this time.</span>