@model CSC.CSClassroom.Model.Assignments.ServiceResults.QuestionToSolve

@{
    string seedText = "";
}
@if (Model.Seed != null)
{
    seedText = $"  (seed: {Model.Seed})";
}

@if (Model.Question != null)
{
    @Html.ActionLink("Question Settings", "Edit", "Question", new { id = Model.Question.Id, seed = Model.Seed })<span>@seedText</span>
}