@{
    ViewData["Title"] = "Download Project Checkpoint Submissions";
}

@model CSC.CSClassroom.WebApp.ViewModels.Submission.DownloadSubmissionViewModel

<h2>Download @Project.Name @Checkpoint.DisplayName Submissions says Dave</h2>


<form asp-action="DownloadSubmissions">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label for="myid" class="col-md-2 control-label">MyLabel</label>
            <div class="col-md-10">
                <p class="form-control-static" for="myid"></p>
                @foreach (var sectionName in Model.SectionNames)
                {
                    <input type="checkbox" name="myid" id="myid" value="@sectionName" />
                    <label class="info">@sectionName</label>
                    <br />

                }
            </div>
        </div>

        @{ /*
             <div class="form-group">
                 <label asp-for="SectionName" class="col-md-2 control-label"></label>
                 <div class="col-md-10">
                     <p asp-description-for="SectionName" class="form-control-static"></p>
                     <select asp-for="SectionName" class="form-control" asp-items="ViewBag.SectionNames"></select>
                 </div>
             </div>
             <div class="form-group">
                 <label asp-for="AssignmentGroupName" class="col-md-2 control-label"></label>
                 <div class="col-md-10">
                     <p asp-description-for="AssignmentGroupName" class="form-control-static"></p>
                     <select asp-for="AssignmentGroupName" class="form-control" asp-items="ViewBag.AssignmentGroups"></select>
                 </div>
             </div>
             <div class="form-group">
                 <label asp-for="GradebookName" class="col-md-2 control-label"></label>
                 <div class="col-md-10">
                     <p asp-description-for="GradebookName" class="form-control-static"></p>
                     <select asp-for="GradebookName" class="form-control" asp-items="ViewBag.GradebookNames"></select>
                 </div>
             </div>
             <div class="form-group">
                 <div class="col-md-offset-2 col-md-10">
                     <input type="submit" value="Download" class="btn btn-default" />
                 </div>
             </div>

                     */
        }
    </div>
</form>
