@using CSC.CSClassroom.Model.Users
@model IList<UnreadFeedbackViewModel>

@{
    ViewBag.Title = "Unread Feedback";
}

@Html.Partial("~/Views/Build/_UnreadFeedback.cshtml", Model)
<br /><br />

@if (ClassroomRole < ClassroomRole.Admin)
{
    <span>Once you have read all of the above feedback, @Html.ActionLink("click here", "Submit") to try submitting again.</span>
}