body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select {
    max-width: 280px;
}

/* Set widths on the text areas since otherwise they're 100% wide */
textarea {
    max-width: 480px;
}

/* Set widths on narrow paragraphs */
.narrow-paragraph {
    max-width: 480px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

/* Show a different color for invalid fields on a form */
textarea.input-validation-error,
input.input-validation-error {
    background-color: #ffcccc
}

input[type="checkbox"] {
    width: 18px
}

pre.ace_editor {
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* The style for the code editor when it is hidden. */
.editor-hidden {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

pre {
    border: 0; 
    background-color: transparent;
    padding: 0px;
}

.table > tbody > tr:first-child > td {
    border-top: none;
}

.table {
    margin-bottom: 0px;
}

td.details-control {
    background: url('/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/images/details_close.png') no-repeat center center;
}

.ui-progressbar {
    position: relative;
}

.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

ul.pagination {
    margin: 0px 0 !important
}

.mce-panel, .panel-group, .max-width {
 max-width: 700px !important
}

.panel-admin {
    border-color: #337ab7 !important;
}

.panel-admin > .panel-heading {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}

.panel-student {
    border-color: #a5042f !important;
}

.panel-student > .panel-heading {
    background-color: #a5042f !important;
    border-color: #a5042f !important;
}

.btn-waiting {
    background-color: #a5042f;
    color: #ffffff;
}

.btn-waiting:hover {
    background-color: #730321;
    color: #ffffff;
}

.btn-not-waiting {
    background-color: #337ab7 !important;
    color: #ffffff;
}

.btn-not-waiting:hover {
    background-color: #204e75 !important;
    color: #ffffff;
