@{
    ViewData["Title"] = "Student Homework Assignments";
}

@model StudentAssignmentsViewModel

<h2>Homework Assignments</h2>
<h4>Student: @Model.FirstName @Model.LastName</h4>
<h4>Section: @Model.SectionName</h4>
<div id="assignmentReport"></div>

@Html.Partial(
    "_NestedTable",
    new NestedTableConfig
    (
        "assignmentReport",
        typeof(AssignmentResultViewModel),
        Model.AssignmentResults,
        "No assignment results."
    ))